*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}


.maxwid{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.navbar{ 
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: sans-serif;
	/* transition:  all 0.3s ease; */
	transition:  xx 0.3s ease;
	background-color: #111;
}
.navbar .maxwid{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-btn{
	display: none;
	cursor: pointer;
	font-size: 24px;
	color: white;
}
.navbar .logo a{
	color: #aaa;
	font-size: 37px;
	font-weight: 600;
}

.navbar .logo a span{
	color: red;
	font-size: 37px;
	font-weight: 600;
}

.navbar .nav li{
	list-style: none;
	display: inline-block; 
}
.navbar .nav li a{ 
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-left: 25px;
	transition: all 0.5s ease;
}

.navbar .nav li a:hover{ 
	color: crimson;
	/* color: red; */
}